<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_top">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <a class="homepage" href="/"><img class="logo1" src="/images/cap.png" />Ô Chap'</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>customer service</h3>
                                    <ul class="Menu_footer">
                                        <li><a href="/all-products">All products</a></li>
                                        <li><a href="/shopping-cart">My Cart</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
</html>