<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Ô Chap' Login</title>
</head>
<body>
  <main class="center-elems full-viewport">
    <div class="survey-form">
      <h4>Login to your Ô Chap' account</h4>
      <form id="login-perform"
        accept-charset="utf-8"
        th:action="@{login(callback=${callbackUrl})}" th:object="${loginDTO}"
        method="POST">

        <div class="form-aligned-fields">
          <label for="username">Username</label>
          <input id="username" type="text" autofocus
           class="form-control"
           th:errorclass="fieldError" th:field="*{username}"
           name="username" placeholder="">
          <div class="alert alert-warning field-validation-error"
           th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>

          <label for="password">Password</label>
          <input id="password" type="password"
           class="form-control"
           th:errorclass="fieldError" th:field="*{password}"
           name="password" placeholder="">
          <div class="alert alert-warning field-validation-error"
           th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>
      </form>

      <div class="button-row">
        <input type="submit" name="perform_login" form="login-perform"
          value="Login">
        <input type="submit" name="perform_cancel" form="login-cancel"
          class="secondary" value="Cancel">
      </div>

      <form id="login-cancel"
        accept-charset="utf-8"
        th:action="@{*{cancelUrl}?: '/'}"
        method="GET">
    </div>
  </main>
</body>
</html>
