.product {
    column-gap: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 32px 32px 1fr 1fr;
    margin: 16px;
    row-gap: 16px;
}
.product img {
    grid-column: 1;
    grid-row: 1 / span 3;
}
.product h1 {
    grid-column: 2;
    grid-row: 1;
}
.product .product-price {
    align-self: center;
    grid-column: 2;
    grid-row: 2;
}
.product form {
    grid-column: 2;
    grid-row: 3;
}
.product .product-add-to-shopping-cart {
    background: #ee3e0f;
    color: #fff;
    cursor: pointer;
    padding: 7px 26px;
}
.product .product-add-to-shopping-cart:hover {
    background: #fff;
    border-radius: 20px;
    color: #000;
    transition: all 0.4s ease-in;
}
.product .product-description {
    grid-column: 1 / span 2;
    grid-row: 4;
}