<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body class="main-layout">
<div id="content">
    <div th:replace="fragments/header :: header"></div>
    <div class="Categories">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Managers</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-bg container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margintop">
                <a class="buynow" href="/product-manager">Products</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margintop">
                <a class="buynow" href="/category-manager">Categories</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>