<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="main-layout">
<div id="content">
    <div th:replace="fragments/header :: header"></div>
    <div class="Categories">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Category Manager</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="brand-bg container">
        <p th:if="${error == '1'}" class="alert-danger">This category already exists!</p>
        <div class="row mb-2 pb-2 mt-4" style="border-bottom: solid black 1px; justify-content: center;">
            <form th:action="@{/category-manager/create}" method="post" th:object="${newCategory}">
                <input type="text" required name="name" th:field="*{name}">
                <button type="submit" class="buynow" style="display: inline-flex; max-width: none; width: auto;">Create Category</button>
            </form>
        </div>
        <div class="row" th:each="category, itemStat : ${categories}" th:object="${newCategory}">
            <p class="col-3" th:text="${categories[__${itemStat.index}__].id}"></p>
            <p class="col-6" th:text="${categories[__${itemStat.index}__].name}"></p>
            <div class="col-3">
                <form method="post" th:action="@{/category-manager/remove}">
                    <input type="hidden" name="id" id="id" th:value="${categories[__${itemStat.index}__].id}"/>
                    <button type="submit" class="buynow">Delete</button>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>

</html>