<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="main-layout">

<div class="wrapper">
    <div id="content">
        <div th:replace="fragments/header :: header"></div>

        <main class="container">
            <h3 class="mb-2">The products below contain the category : <span th:text="${category.name}"></span></h3>
            <div class="row pt-2 pb-2" th:each="product: ${products}" style="border-bottom: black 1px solid">
                <p class="col-6" th:text="${product.id}"></p>
                <p class="col-6" th:text="${product.name}"></p>
            </div>
            <div class="row mb-4 mt-2" >
                <form th:action="@{/category-manager/remove-confirmed}" method="post" th:object="${newCategory}">
                    <input type="hidden" name="id" id="id" th:value="${category.id}">
                    <button type="submit" class="btn btn-primary mr-2">Delete Aniway</button>
                </form>
                <a th:href="@{/category-manager}" class="btn btn-secondary">Cancel</a>
            </div>
        </main>
        <!--  footer -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- end footer -->

    </div>

    <div class="overlay"></div>
</div>
</body>

</html>