<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="main-layout">
<div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
</div>

<div class="wrapper">
    <div id="content">
        <div th:replace="fragments/header :: header"></div>

        <main class="container">
            <h3>The products below contain the category : <span th:text="${category.name}"></span></h3>
            <div class="row" th:each="product: ${products}" style="border-bottom: black 1px solid">
                <p class="col-6" th:text="${product.id}"></p>
                <p class="col-6" th:text="${product.name}"></p>
            </div>
            <div>
                <form th:action="@{/category-manager/remove?hasProduct=true}" method="post" th:object="${newCategory}">
                    <input type="hidden" name="id" id="id" th:value="category.id">
                    <button type="submit" class="btn btn-primary">Delete Aniway</button>
                </form>
            </div>
        </main>
        <!--  footer -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- end footer -->

    </div>

    <div class="overlay"></div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/custom.js"></script>
</div>
</body>

</html>