<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>lion</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
</head>

<body class="main-layout">
<div class="wrapper">
    <div id="content">
        <!-- header -->
        <header>
            <div class="head_top">
                <div th:replace="fragments/inner-header-div :: div"></div>
                <section class="slider_section">
                    <div class="banner_main">
                        <div class="container-fluid padding3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mapimg">
                                    <div class="text-bg">
                                        <h1>Find the hat that fits</h1>
                                        <a href="/all-products">See all products</a>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                    <div class="img_bg">
                                        <figure><img src="/images/cap.png" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </header>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>
