<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="main-layout">
<div class="wrapper">
    <div id="content">
        <div th:replace="fragments/header :: header"></div>
        <main class="brand-bg container">
            <form th:action="@{/shopping-cart/add}" th:if="${product ne null}" method="post" th:object="${product}">
                <article class="product">
                    <input name="id" type="hidden" th:value="*{id}" />
                    <h1 class="product-name" th:text="*{name}"></h1>
                    <img th:src="@{/image/{id}(id=${product.id})}"  alt="hat image"/>
                    <p class="product-price">CHF <th:block th:text="*{price}" /></p>
                    <section class="product-add-to-shopping-cart">
                        <label class="product-quantity-label" for="product-quantity">Quantity</label>
                        <input th:disabled="*{stock == 0}" id="product-quantity" min="1" name="quantity" type="number" th:value="${quantity}" />
                        <input class="product-submit" type="submit" value="Add to shopping cart"/>
                    </section>
                    <p class="product-description" th:text="*{description}"></p>
                </article>
            </form>
            <h1 th:if="${product == null}">The product you are looking for could not be found</h1>
        </main>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>

</html>