<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>lion</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
</head>
<!-- body -->

<body class="main-layout">

<div id="content">
    <!-- header -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Categories -->
    <div class="Categories">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Product Manager</h2>
                    </div>
                </div>
            </div>
            <div class="brand-bg container">
                <form method="get" th:action="@{/product-manager/add}">
                    <button type="submit" class="buynow">New Product</button>
                </form>
                <div class="row mb-2 pb-2 mt-4" style="border-bottom: black 1px solid">
                    <p class="col-2">Name</p>
                    <p class="col-2">Description</p>
                    <p class="col-2">Stock</p>
                    <p class="col-2">Price</p>
                </div>
                <div th:each="p : ${products}" class="row">
                    <p th:text=" ${p.name} " class="col-2"></p>
                    <p th:text=" ${p.description} "  class="col-2"></p>
                    <p th:text=" ${p.stock} "  class="col-2"></p>
                    <p th:text=" ${p.price} "  class="col-2"></p>
                    <div class="col-2">
                        <a th:href="@{/product-manager/update(id=${p.id})}" class="buynow">Update</a>
                    </div>
                    <div class="col-2">
                        <form method="post" th:action="@{/product-manager/remove}" th:object="${p}">
                            <label hidden>
                                <input name="id" th:field="*{id}" th:value="${p.id}" type="value"/>
                            </label>
                            <button type="submit" class="buynow">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- end footer -->
</div>
</body>
