<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>lion</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
</head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#"/></div>
</div>

<div class="wrapper">

    <!-- end loader -->
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#brand">Brands</a>
                </li>
                <li>
                    <a href="#shoes">Shoes</a>
                </li>
                <li>
                    <a href="#jewellery">Jewellery</a>
                </li>
                <li>
                    <a href="#kids">Kids and Babies</a>
                </li>
            </ul>

        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="ShoppingCart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2> Shopping Cart</h2>
                        </div>
                    </div>
                </div>
                <div id="brand" class="brand-bg">
                    <h3>Your products</h3>
                    <div class="col">
                        <div class="row d-flex justify-content-between align-items-center">
                            <p> product </p>
                            <p> unit price </p>
                            <p> number </p>
                            <p> action </p>
                        </div>
                        <div class="card rounded-3 mb-4 pb-0 pt-0" th:each="product : ${products}">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <form method="post" th:action="@{/shopping-cart/update}" th:object="${product}">
                                        <p th:text="${product.product.name}"></p>
                                        <p th:text="${product.product.price}"></p>
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <label style="visibility: collapse">
                                                <input name="id" hidden="true" th:field="*{id}"
                                                       th:value="${product.id}" type="value">
                                            </label>
                                            <label> count
                                                <input style="width: 60px"
                                                       name="quantity"
                                                       th:field="*{quantity}"
                                                       th:value="${product.quantity}"
                                                       type="value"
                                                       min="0"
                                                       th:max="${product.product.stock}"
                                                       onchange="this.form.submit()"
                                                >
                                            </label>
                                        </div>
                                    </form>
                                    <form method="post" th:action="@{/shopping-cart/remove}" th:object="${product}">
                                        <label>
                                            <input name="id" hidden="true" th:field="*{id}"
                                                   th:value="${product.id}" type="value">
                                        </label>
                                        <button type="submit" class="rounded p-1 m-1">remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <form method="post" th:action="@{/shopping-cart/clear-cart}" th:object="${cart}">
                            <label style="visibility: collapse">
                                <input name="id" hidden="true" th:field="*{id}"
                                       th:value="${cart.id}" type="value">
                            </label>
                            <button type="submit" class="rounded p-1 m-1 alert-danger"> clear cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a href="index.html"> <img class="logo1" src="images/logo1.png"/></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <ul class="sociel">
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"><img src="icon/loc.png" alt="#"/></a>145 londone
                                            <br>uk
                                        </li>
                                        <li>
                                            <a href="#"><img src="icon/call.png" alt="#"/></a>+12586954775
                                        </li>
                                        <li>
                                            <a href="#"><img src="icon/email.png" alt="#"/></a>demo@gmail.com
                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>customer service</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"><a href="#">My account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">My Cart</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>corporation</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><a href="#">My account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">My Cart</a></li>
                                        <li><a href="#"> Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>why choose us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna </p>
                                    <form class="newtetter">
                                        <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->


</div>

<div class="overlay"></div>

<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>

<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function () {

            $(this).addClass('transition');
        }, function () {

            $(this).removeClass('transition');
        });
    });
</script>
</body>

</html>