name: Linter suggestions for PRs
on: pull_request
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - run: mvn formatter:format
      - uses: getsentry/action-git-diff-suggestions@main
        with:
          message: >-
            Revelec suggest the following change based on [Google's java
            styleguide](https://google.github.io/styleguide/javaguide.html).
            You can apply these changes locally by running
            `mvn formatter:format`.
            Please prefer fixing each related commit to creating
            'format XXX' commit.
